<nav>
    <h2>Hey, {{name}}!</h2>
    <div>
        <a href="/petition">Sign!</a>
        <a href="/profile/edit">Edit Profile</a>
        <a href="/signers">Signers</a>
        <a href="/logout">Logout</a>
    </div>
</nav>