<div class="petition-container">
    <h1>Sign our petition to make German bureau's cease
        <br />
        the use of letters as a means of communication!</h1>
    <img
        src="https://media.giphy.com/media/efyEShk2FJ9X2Kpd7V/giphy.gif"
        alt="Bobsponge sending a letter"
    />
    <form method="POST">

        <label for="" id="sign-here">Sign Here:</label>
        <canvas id="canvas"></canvas>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <button> submit </button>
        {{#if error}} <h2>Something went wrong... please try again!</h2>{{/if}}
        <input type="text" name="sig" id="sig-url" />

    </form>
</div>