<h1>Tell us more about yourself (optional)</h1>
<form method="POST">
    <div class="age">
        <input type="text" name="age" placeholder="Age" /></div>
    <div class="city"><input type="text" name="city" placeholder="City" /></div>
    <div class="email">
        <input type="text" name="homepage" placeholder="Homepage" /></div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <button> Continue </button>

</form>