{{> nav}}
<div class="petition-container">
    <h1>Thank you for signing, {{name}}! </h1>
    <img src="{{signature}}" alt="" />
  
    <form method="POST">
        <button id="delete">Delete your signature</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    </form>
</div>