body {
    color: #35302e;
    background-color: rgb(231, 231, 231);
}

.petition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

input {
    width: 200px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 2px;
    border: solid 1px #dbd9db;
}

.first-name,
.last-name {
    width: 250px;

    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: space-around;
}

#sign-here {
    text-align: center;
    margin: 10px;
}

img {
    border-radius: 50%;
}
button {
    margin: 10px;
    width: 100px;
}
#sig-url {
    visibility: hidden;
}

canvas {
    border: black solid 2px;
    z-index: 1;
    width: 250px;
    height: 80px;
}
